.warning {
    @apply bg-accent-yellow-300/30 text-accent-yellow-500 font-medium p-4 rounded-organic mb-4 ring-1 ring-accent-yellow-400/40;
}

.warning:hover {
    @apply bg-accent-yellow-300/40;
}

.error {
    @apply bg-red-100 text-red-700 font-medium p-4 rounded-organic mb-4 ring-1 ring-red-200;
}

.error:hover {
    @apply bg-red-200;
}
