.sheet {
    height: calc(100dvh - 100px);
    @apply w-full flex flex-col items-center;
}

.scrolly-text-item {
    @apply bg-white/80 backdrop-blur ring-1 ring-earth-100 rounded-md p-3 mt-2 mb-[60vh] z-30 shadow-sm animate-fade;
}

.explanation-items {
    @apply flex flex-col items-center gap-2;
}

.sheet {
    height: calc(100dvh - 100px);
    @apply w-full flex flex-col items-center;
}
