.sheet {
    height: calc(100dvh - 100px);
    @apply w-full flex flex-col items-center;
}

.scrolly-text-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #C3C3C3;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 60vh;
    z-index: 3;
}
